<?xml version="1.0" encoding="GBK"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop
        https://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/context
        https://www.springframework.org/schema/context/spring-context.xsd">

<!--    DAO层文件-->
    <import resource="classpath:spring-mybatis.xml"/>
<!--    业务层文件-->
    <import resource="classpath:spring-service.xml"/>
<!--    控制层文件-->
    <import resource="classpath:springmvc-servlet.xml"/>


    <bean class="com.tongmao.pojo.Manager" id="manager"></bean>

</beans>